.App {
  text-align: center;
}

.searchItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}



.mealList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
